.myContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 1rem;
  border-radius: 5px;
  max-height: "1000px";
  min-height: max-content;
  margin-top: 2rem;
  border: 1px solid #dd76d3;
}

.listContainer {
  border-radius: 5px;
  margin: 2rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #dd76d3;
}

.listItem {
  padding: 0.5rem;
  cursor: pointer;
}

.listItem:hover {
  background-color: #b4aee8;
}

.submitButton {
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: 50;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-right: 2rem;
  background-color: #93329e;
  color: white;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  box-shadow: none !important;
}
.submitButton:hover,
.submitButton:active,
.submitButton:focus,
.submitButtonActive {
  background-color: #440a67;
  color: #ffe3fe;
  outline: none !important;
  outline-offset: none !important;
}

.alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
  top: 45%;
}
