.myContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 1rem;
  border-radius: 5px;
  max-height: "1000px";
  min-height: max-content;
  margin-top: 2rem;
  border: 1px solid #dd76d3;
}

.listContainer {
  border-radius: 5px;
  margin: 2rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid #dd76d3;
}

.listItem {
  padding: 0.5rem;
  cursor: pointer;
}

.listItem:hover {
  background-color: #b4aee8;
}
