.myContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  border-radius: 5px;
  max-height: "1000px";
  min-height: max-content;
  margin-top: 2rem;
  border: 1px solid #dd76d3;
  overflow: hidden;
}

.Header {
  background-color: #b4aee8;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 3rem;
}

.commentSection {
  min-height: 500px;
}

.submitButton {
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: 50;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-right: 2rem;
  background-color: #93329e;
  color: white;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  box-shadow: none !important;
}
.submitButton:hover,
.submitButton:active,
.submitButton:focus,
.submitButtonActive {
  background-color: #440a67;
  color: #ffe3fe;
  outline: none !important;
  outline-offset: none !important;
}
.avatar {
  width: 50px;
  height: 50px;
  background-color: #cccccc;
  border-radius: 50%;
}
