.mainContainer {
  min-height: 50rem;
  background-color: #ffe3fe;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.myContainer {
  margin: 3rem auto;
  width: 80%;
}
.textStyle {
  white-space: pre-wrap;
}
