.mainBox {
  min-height: 50rem;
  background: linear-gradient(180deg, #ffe3fe 0%, #b4aee8 100%);
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.discussionTitle {
  display: block;
}

.discuss {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 1rem 1.5rem;
  width: 100%;
}

.discussItem {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0;
  cursor: pointer;
}

.discussItem:hover {
  color: #8d3e85;
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .discussionTitle {
    display: none;
  }
  .discuss {
    display: none;
  }
}

.buttonStyle {
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: 50;
  border-radius: 5px;
  margin-top: 0.5rem;
  background-color: #93329e;
  color: white;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.buttonStyle:hover,
.buttonStyle:active,
.buttonStyle:focus,
.buttonStyleActive {
  background-color: #440a67;
  color: #ffe3fe;
  outline: none !important;
  outline-offset: none !important;
}

.iconStyle {
  position: absolute;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  border-radius: 50%;
  background-color: #93329e;
  color: white;
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: calc(100% / 2 - 25px);
}
.iconStyle:hover,
.iconStyle:active,
.iconStyle:focus,
.iconStyleActive {
  background-color: #440a67;
  color: #ffe3fe;
  outline: none !important;
  outline-offset: none !important;
}

.nextStyle {
  right: -45px;
}

.previousStyle {
  left: -45px;
}

.customRow {
  position: relative;
  min-height: calc(100vw * 0.15 + 75px);
  max-height: max-content;
}

@media screen and (max-width: 991px) {
  .customRow {
    min-height: calc(100vw * 0.3 + 75px);
  }
}

@media screen and (max-width: 767px) {
  .customRow {
    min-height: calc(100vw * 0.6 + 75px);
  }
}
