.mycontainer {
  position: absolute;
  background-color: #ffe3fe;
  top: calc(100% + 7px);
  border: 2px solid #440a67;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  max-height: 400px;
  min-height: 100px;
  overflow-y: scroll;
}

.mycontainer::-webkit-scrollbar {
  display: none;
}

.mycontainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
